@page "{image_id}"
@using System.Security.Claims
@using exam_frontend.Components
@model Details
@{
    ViewData["Title"] = "Image Details";
}

<head>
    <link rel="stylesheet" href="~/css/post/details.css"/>
</head>

<div class="image-details-container">
    <div class="image-box">
        <img src="@await Model.minio.GetFileUrlAsync(Model.Post.Upload.ObjectName)" alt="Image">
    </div>
    <div class="details-box">
        <h2>Image Details</h2>
            @* <button class="like-button" onclick="likeImage()"> *@
            @*     ❤️ Like (<span id="likeCount" class="likeCount">@Model.Image.Likes.Count</span>) *@
        @* </button> *@
        <component type="typeof(LikeButton)"
                   param-ImageId="@Model.Post.Id"
                   param-LikeCount="@Model.Post.Likes.Count"
                   param-UserId="@User.FindFirstValue(ClaimTypes.NameIdentifier)"
                   render-mode="ServerPrerendered" />
        <h3>Comments</h3>
        @* <div class="comments"> *@
        @*     @foreach (var comment in Model.Comments) *@
        @*     { *@
        @*         <div>@comment.User.UserName</div> *@
        @*         <div class="comment">@comment</div> *@
        @*     } *@
        @* </div> *@
        @* <form method="post" asp-page-handler="Comment"> *@
        @*     <input type="text" id="commentText" placeholder="Write a comment.."/> *@
        @*     <button>Post Comment</button> *@
        @* </form> *@
        
        <component type="typeof(CommentBar)"
                   param-ImageId="@Model.Post.Id"
                   param-UserId="@User.FindFirstValue(ClaimTypes.NameIdentifier)"
                   param-Comments="@Model.Comments"
                   render-mode="ServerPrerendered"/>


        
    </div>
</div>

@* <a asp-page="/Gallery/Details" asp-route-gallery_id="@Model.Image.GalleryId" class="back-btn">← Back to Gallery</a> *@
