@page "{user_id}"
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model exam_frontend.Pages.Gallery.Index
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "My Gallery";
}

<head>
    <link rel="stylesheet" href="~/css/gallery/index.css"/>
</head>

@if (@Model.IsOwner)
{
    <h2>My Galleries</h2>
}
else
{
    <h2>Galleries</h2>
}

<div class="gallery-container">
    @foreach (var gallery in Model.Galleries)
    {
        <div class="gallery-card">
            <a asp-page="/Gallery/Details" asp-route-gallery_id="@gallery.Id" asp-route-user_id="@gallery.UserId">
                <div class="gallery-header">@gallery.Name</div>
                <div class="gallery-body">
                    @if (gallery.Images.Any())
                    {
                        <img src="@gallery.Images.First().FilePath" alt="Gallery Preview">
                    }
                    else
                    {
                        @if (@Model.IsOwner)
                        {
                            <a href="/Image/Create" asp-route-gallery_id="@gallery.Id">No images yet. Click to add!</a>
                        }
                    }
                </div>
            </a>
        </div>
    }
</div>

@if (@Model.IsOwner)
{
    <a asp-page="/Gallery/Create" class="btn-add">+ Add New Gallery</a>   
}
